.recipe {
    padding: 50px 20px;
    text-align: center;

    .title {
        margin-bottom: 40px;

        h1 {
            font-size: 40px;
            font-weight: 900;
        }

        .category {
            margin-top: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            div {
                background-color: #d65108;
                color: #fff;
                padding: 5px;
                border-radius: 5px;

                &:first-child {
                    margin-right: 5px;
                }
            }
        }
    }

    .heading {
        margin-bottom: 10px;
        font-size: 30px;
        font-weight: 600;
    }

    .image-ingredients {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;

        @media only screen and (min-width: 996px) {
            flex-direction: row;
            align-items: flex-start;
        }

        .image {
            position: relative;
            width: 100%;

            @media only screen and (min-width: 996px) {
                flex: 0 0 50%;
                max-width: 50%;
            }
        
            img {
                position: initial !important;
                width: 100%;
                max-width: 500px;
                aspect-ratio: 1/1;
                border-radius: 20px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            }
        }

        .ingredients {
            width: 100%;

            @media only screen and (min-width: 996px) {
                flex: 0 0 50%;
                max-width: 50%;
            }

            .ingredient {
                font-size: 20px;
            }
        }
    }
}